<!DOCTYPE html>
<html>
<head>
    <title>ESS Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="dashboard">
    <h2>ESS Automation Tools</h2>

    <form method="get" action="/tool/pcs_ess">
        <button class="btn pcs">🚀 Run PCS ESS</button>
    </form>

    <form method="get" action="/tool/aws_ess">
        <button class="btn aws">🚀 Run AWS ESS</button>
    </form>

    <form method="get" action="/tool/gutra_850">
        <button class="btn gutra_850">🚀 Run GUTRA 850</button>
    </form>

    <form method="get" action="/tool/gutra_cband_dod">
        <button class="btn gutra_cband_dod">🚀 Run GUTRA CBAND DOD</button>
    </form>

    <form method="get" action="/tool/4port_4x4">
        <button class="btn 4port_4x4">🚀 Run RADIO 4x4</button>
    </form>

    <form method="get" action="/tool/cd_add_4x4">
        <button class="btn cd_add_4x4">🚀 Run RADIO CD</button>
    </form>

    <form method="get" action="/tool/radio_8_port_4x4">
        <button class="btn radio_8_port_4x4">🚀 Run RADIO 8 4x4</button>
    </form>

    <form method="get" action="/tool/radio_8_port_8x4">
        <button class="btn radio_8_port_8x4">🚀 Run RADIO 8 8x4</button>
    </form>

</div>
</body>
</html>
